{% load staticfiles %}
{% load i18n %}

{% if 'performance' in installed_apps %}
    <div class="grid-item">
        <i class="fa fa-line-chart"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'performance_home'  %}" id="lnk_performance">{% trans 'performance' %}</a></h4>
            <p>{% trans 'desc_lnk_performance' %}</p>
        </div>
    </div>
{% endif %}

{% if 'attestation' in installed_apps %}
    <div class="grid-item">
        <i class="fa fa-file-pdf-o"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'attestation_home' %}" id="lnk_my_attestations">{% trans 'my_attestations' %}</a></h4>
            <p>{% trans 'desc_lnk_my_attestations' %}</p>
        </div>
    </div>
{% endif %}

{% if 'exam_enrollment' in installed_apps %}
    <div class="grid-item">
       <i class="fa fa-book"></i>
       <div class="description">
           <h4 class="media-heading"><a href="{% url 'exam_enrollment_form_direct' %}" id="lnk_exam_enrollment_offer_choice">{% trans 'exams_enrollment' %}</a></h4>
           <div id="message_box" class="alert alert-info" style="margin-top: 1em;">
               <span id="status_message"></span>
           </div>
           <button id="lnk_ask_exam_enrollment" onclick="ask_exam_enrollment()" class="btn btn-lg btn-primary" >
           {% trans 'exams_enrollment' %}yyy
           </button>
           {{ in_error }}
           <input id="er" value="{{ in_error }}">
           <p>{% trans 'desc_lnk_exam_enrollment' %}</p>
           <form id="form_view_exam_enrollment" action="{% url 'view_exam_enrollment' %}" method="get" class="form" role="form"
                 style="visibility:hidden;display:block;"  >
           </form>
       </div>
    </div>
{% endif %}

{% if 'internship' in installed_apps %}
    {% if perms.internship.can_access_internship %}
    <div class="grid-item">
        <i class="fa fa-user-md"></i>
        <div class="description">
            <h4 class="media-heading"><a href="{% url 'internship'  %}" id="lnk_internship">{% trans 'internships' %}</a></h4>
            <p>{% trans 'desc_lnk_internships' %}</p>
        </div>
    </div>
    {% endif %}
{% endif %}


